<div class="row body-container">
  <div class="col s12 m12 l12">
    <div class="col s2 m2 l2">
      <ul class="drive-files-container">
        <li class='file-list-item'><a id='drive-files-link' href="home"><i class='material-icons prefix' id='file-icon'>important_devices</i>My Drive</a></li>
        <li class='file-list-item'><a id='drive-files-link' href="#!"><i class='material-icons prefix' id='file-icon'>people</i>Shared with me</a></li>
        <li class='file-list-item'><a id='drive-files-link' href="#!"><i class='material-icons prefix' id='file-icon'>restore</i>Recent</a></li>
        <li class='file-list-item'><a id='drive-files-link' href="#!"><i class='material-icons prefix' id='file-icon'>toys</i>Google Photos</a></li>
        <li class='file-list-item'><a id='drive-files-link' href="#!"><i class='material-icons prefix' id='file-icon'>star</i>Stared</a></li>
        <li class='file-list-item'><a id='drive-files-link' href="#!"><i class='material-icons prefix' id='file-icon'>edit</i>Trash</a></li>
        <hr id='divider'>
        <p class='center' id='storage-measure'>10GB of 15GB Used</p>
        <li class='file-list-item'><a id='drive-files-link' href='#!'><i class='material-icons prefix' id='file-icon'>storage</i>Upgrade Storage</a></li>
      </ul>
    </div>
    <div class='vertical-seperator left'></div>


    <div class="col s10 m10 l10">
      <div class="">

      </div>
    </div>

  </div>
</div>
