*{
  font-family: 'Roboto', sans-serif;
}


/*NAV BAR START*/
#navBar{
  margin: 0;
  background-color: white;
  height: 85px;
}
#userPic{
  padding: 0 5% 0 5%;
	width: 45px;
	height: 35px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(images/Jon_Snow.jpg) no-repeat;
}
.nav-search-container{
  margin: 0 0 0 1%;
  background-color: #FAFAFA;
  height: 50px;
}
.navSearch{
  width: auto;
  height: 30px;
}
#nav-topNav{
  height: 65px;
}
#navIcon-top{
  color: grey;
  padding: 0 5% 0 5%;
}


.bottomNav{
  background-color: #FAFAFA;
  height: 7vh;
}
#nav-new-doc-btn{
  background-color: #4285F4;
  height: auto;
  width: 125px;
  height: 30px;
  font-size: 10px;
  font-weight: 900;
}
.myDrive-dropdown-container{
  margin-top: 2%;
}
#dropdown-arrow-icon{
  color: grey;
}
#myDrive-dropdown-btn{
  padding: 0;
  margin-top: 0;
  background-color: #FAFAFA;
  color: grey;
  font-weight: 900;
}
#myDrive-dropdown-link{
  color: #757575;
  width: 300px;
  font-size: 13px;
}
#nav-bottom-icon{
  margin-top: 5%;
  padding: 0 5% 0 5%;
  color: grey;
}

/*NAV BAR END*/
